<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Educación</title>
    <link rel="stylesheet" href="/educacion/styles.css">
</head>
<body>
<div class="roof"></div>
<div id="library">
    <!-- Las estanterías se agregarán dinámicamente desde el script.js -->
    <div class="board"></div>
</div>
<div class="floor">
    <div class="floor-text">CENTRO DE EDUCACIÓN</div>
</div>
<script src="/educacion/script.js"></script>
</body>
</html>