body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #73b899;
}

#library {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #73b899;
    padding: 0 10px;
    gap: 20px;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 80%;
    width: 50%;
}

.board {
    width: 100%;
    height: calc(70% + 100px);
    background-color: #006400;
    border: 10px solid #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    text-align: center;
    box-sizing: border-box;
    margin-top: 25px;
}

.shelf {
    width: calc(23% - 30px);
    height: 100%;
    background-color: #a66b41;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    border-left: 15px solid #5c361a;
    border-right: 15px solid #5c361a;
    border-bottom: 15px solid #5c361a;
    position: relative;
}

.shelf::before,
.shelf::after {
    content: '';
    position: absolute;
    bottom: -15px;
    width: 15px;
    height: 15px;
    background-color: #5c361a;
}

.shelf::before {
    left: -15px;
}

.shelf::after {
    right: -15px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 20%;
    border-top: 15px solid #5c361a;
    margin: 0;
}

.book {
    width: 20px;
    background-color: #ff6347;
    margin: 0;
}

.roof {
    width: 100%;
    height: 5%;
    background-color: #73b899;
}

.floor {
    width: 100%;
    height: 25%;
    background-color: #4f554f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floor-text {
    font-size: 3em;
    color: black;
    text-align: center;
}

:root {
    --scale: 0.6;
}

.clock {
    position: relative;
    width: calc(200px * var(--scale));
    aspect-ratio: 1 / 1;
    border: calc(10px * var(--scale)) solid #5c361a;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 calc(10px * var(--scale)) rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
    margin-top: -70px;
    max-width: 100%;
}


.hand {
    position: absolute;
    background-color: #333;
    transform-origin: bottom center;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
}

.hour {
    width: calc(6px * var(--scale));
    height: calc(40px * var(--scale));
    background-color: #000;
}

.minute {
    width: calc(4px * var(--scale));
    height: calc(60px * var(--scale));
    background-color: #666;
}

.second {
    width: calc(2px * var(--scale));
    height: calc(80px * var(--scale));
    background-color: #f00;
}

.number {
    position: absolute;
    font-size: calc(1.2em * var(--scale));
    font-weight: bold;
    color: #333;
    width: calc(20px * var(--scale));
    height: calc(20px * var(--scale));

    transform: rotate(var(--angle)) translateY(calc(-85px * var(--scale))) rotate(calc(-1 * var(--angle)));

    display: flex;
    justify-content: center;
    align-items: center;
}

.card, .board-card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.card {
    width: 230px;
    height: 430px;
    left: 46.5%;
}

.board-card {
    width: 35%;
    height: 30%;
    top: 42%;
    left: 49.5%;
}

.card p {
    font-size: 1.5em;
}

.card ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    margin: 0;
}

.card li {
    font-size: 1.1em;
    margin-bottom: 40px;
    margin-top: 10px;
}